{{define "api_mappers.go.tmpl"}}
package mapper

import (
	"{{.modelFQPN}}"
    "{{.representationsFQPN}}"
)

func To{{.StructName}}Rep(m {{.modelPackageName}}.{{.StructName}}) {{.repsPackageName}}.{{.StructName}} {
	return {{.repsPackageName}}.{{.StructName}}{
        {{range .TableInfo.CodeFields}}
            {{if .ColumnMeta.Nullable}}
                {{if eq .JSONFieldType "bool"}}
                    {{.GoFieldName}}: m.{{.GoFieldName}}.Bool,
                {{end}}
                {{if eq .JSONFieldType "string"}}
                    {{.GoFieldName}}: m.{{.GoFieldName}}.String,
                {{end}}
                {{if eq .JSONFieldType "float64"}}
                    {{.GoFieldName}}: m.{{.GoFieldName}}.Float64,
                {{end}}
            {{else}}
                {{.GoFieldName}}: m.{{.GoFieldName}},
            {{end}}
        {{end}}
	}
}
{{end}}