package {{.daoPackageName}}

import (
    "context"
    "time"

    "github.com/a8m/rql"
	"{{.modelFQPN}}"

    "github.com/guregu/null"
    uuid "github.com/satori/go.uuid"
)

var (
    _ = time.Second
    _ = null.Bool{}
    _ = uuid.UUID{}
)



{{template "dao_gorm_getall.go.tmpl" .}}
{{template "dao_gorm_get.go.tmpl" .}}

