{{define "dao_gorm_getall.go.tmpl"}}
// GetAll{{.StructName}} is a function to get a slice of record(s) from {{.TableName}} table in the {{.DatabaseName}} database
// params - page     - page requested (defaults to 0)
// params - pagesize - number of records in a page  (defaults to 20)
// params - order    - db sort order column
// error - ErrNotFound, db Find error
func GetAll{{.StructName}}(ctx context.Context, p *rql.Params) (results []*{{.modelPackageName}}.{{.StructName}}, totalRows int, err error) {

	resultOrm := DB.Model(&{{.modelPackageName}}.{{.StructName}}{})
	resultOrm = resultOrm.Where(p.FilterExp, p.FilterArgs)
    resultOrm.Count(&totalRows)

	if p.Offset > 0 {
		resultOrm = resultOrm.Offset(p.Offset).Limit(p.Limit)
	} else {
		resultOrm = resultOrm.Limit(p.Limit)
	}

	if p.Sort != "" {
		resultOrm = resultOrm.Order(p.Sort)
	}
	
	if err = resultOrm.Find(&results).Error; err != nil {
	    err = ErrNotFound
		return nil, -1, err
	}

	return results, totalRows, nil
}
{{end}}
