{{define "representations.go.tmpl"}}
package representations

type {{.StructName}} struct {
	{{range .TableInfo.CodeFields}}
    {{if eq .JSONFieldType "bool"}}
    {{.GoFieldName}} {{.JSONFieldType}} `{{ .JSONAnnotation }}`
    {{else if eq .JSONFieldType "float64"}}
    {{.GoFieldName}} {{.JSONFieldType}} `{{ .JSONAnnotation }}`
    {{else if eq .JSONFieldType "int64"}}
    {{.GoFieldName}} {{.JSONFieldType}} `{{ .JSONAnnotation }}`
    {{else }}
    {{.GoFieldName}} {{.JSONFieldType}} {{ JSONTagOmitEmpty .JSONFieldName }}
    {{end}}
    {{end}}
}
{{end}}